body,html{
	height:100%;
	width: 100%;
	font-family:"Sofia";
	background: url(image3.jpg) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
}
h1{
	font-size:5rem;
	color:black;

}
h1:hover{
	color:blue;

}
.buffer{
	height:3rem;
}
hr{
	border-color:skyblue;
	border-width:3px;
	border-radius:1px;
	max-width:65px;
}
.btn{
	border-radius:300px;
	/*text-transform:uppercase;*/
}
.btn-light:hover{
	background-color:skyblue;
	border-color:skyblue;
	border-width:4px;

}
.btn-xl
{
	padding:1rem 2rem;
}